@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Sora:wght@300;400;600;700&display=swap');


:root{
  --bg:#1b1063;
  --bg-deep:#1a0b2e;
  --bg-soft:#1a0b2e;
  --bg-light:#412567;
  --card:#24103d;
  --accent:#7b2cff;
  --accent-pink:#ffa600dc;
  --accent-mint:#00ff9d;
  --text:#ffffff;
  --yollow:#ffb703;
  --piku:#ff00cc;
   --shadow:0 20px 60px rgba(8, 2, 24, 0.55); 
}
 *{ 
   margin:0; 
   padding:0; 
   box-sizing:border-box;} 




.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared styles */
.dispaly-flex {display: flex;}


.text-color { color: var(--text); }



/*  Header styles */


/* navbar related styles */
.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
   
  backdrop-filter:blur(12px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
   background-color: var(--bg-deep); 
   /* background:radial-gradient(left at top right,#1b1063,#0b0616); */
  border-bottom: 1px solid var(--bg-light);
  margin: 0px auto;

 
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

 
.btn-primary{
  background:linear-gradient(31deg, #FFEB3B, #ff00ebdc, var(--accent));
  border:currentColor;
  padding: 10px 20px;
  border-radius:30px;
  color:white;
  font-weight:600;
  cursor:pointer;
  box-shadow:0 10px 30px rgba(44, 24, 15, 0.705);}



  .logo{
  font-size:24px;
  letter-spacing:0.5px;
}

.logo span{
  background:linear-gradient(45deg, var(--accent-pink), var(--accent));
  -webkit-background-clip:text;
  background-clip:text;
  color:transparent;}


  /* .container{
  width:min(1100px, 92%);
  margin:0 auto;} */


.hero{
  position:relative;
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;

  overflow:hidden;

  /* dark gradient bg */
  /* background:radial-gradient(circle at top,#1b1063,#0b0616); */
  background-color: var(--bg-deep);
}


/* wave image */
.wave{
  position:absolute;
  inset:0;

  background:url("image/hero-bg.png") center/contain no-repeat;

  opacity:.6;
}


/* content */
.hero-content{
  position:relative;
  z-index:2;
  max-width:700px;
  padding:20px;
}


/* ========================= */
/* CIRCLE */
/* ========================= */

.circle{
  width:415px;
  height:425px;
  margin:auto;

  background:url("image/hero-circle.png") center/contain no-repeat;

  display:flex;
  justify-content:center;
  align-items:center;

  position:relative;
}

.mic{
  width:170px;
}
.btn img{
  width:18px;}


/* NEW badge */
.badge{
  position:absolute;
  top:45px;
  right:25px;

  background:var(--accent-mint);
  color:var(--bg-deep);

  padding:5px 12px;
  font-size:20px; 
  font-weight:600;
  border-radius:20px;
}


/* ========================= */
/* TEXT */
/* ========================= */

h1{
  font-size:65px;
  font-weight:700;
  margin-top:30px;
  color:var(--text);
}

p{
  margin:12px 0 28px;
  opacity:.75;
  font-size:15px;
  color:var(--text);
}


/* ========================= */
/* BUTTONS */
/* ========================= */

.buttons{
  display:flex;
  justify-content:center;
  gap:14px;
  flex-wrap:wrap;
}

.btn{
  padding:10px 22px;
  border-radius:25px;
  border:none;
  cursor:pointer;
  font-weight:600;
  display:inline-flex;
  align-items:center;
  gap:10px;
}

/* gradient */
.primary{
  background:linear-gradient(45deg, var(--accent-pink), var(--accent));
  color:var(--text);
}

/* outline */
.outline{
  background:transparent;
  border:1px solid var(--accent-mint);
  color:var(--accent-mint);
}





